/*
p
{
    font-size: 1cm;
    color:red;
    font-family: sans-serif
}

body
{
    font-family:Arial, Helvetica, sans-serif
}

button{
    background: gray;
    border: none;
    color:white;
    font-size:100px;
    border-radius: 20px;
}
*/
body{
    background: white;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding:0;
    max-width:1500px;
    margin:0 auto;
}



header nav{
    position:fixed;
    display:inline-block;
    background-color: black;
    height: 60px;
    border-top-left-radius: 10px;
}

section{
    background-color: white;
    padding:70px 50px;
    display:flex;
    margin:0;
}

footer{
    background-color: black;
    padding:50px;
    text-align:center;
    color:grey;
    font-size:18px;
}

figure{
    /*display:inline; //size of contents*/
    /*display:block; //default*/
    /*display:inline-block;*/
    width:400px;
    height:auto;
    border-style:solid;
    /*border-width:5px;
    border-color:rgb(138, 138, 138);
    border-radius:5px;*/
    box-shadow:rgb(71, 71, 71) 0 0 10px;
    border-width:0px;
}

ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
    display:flex;
}

li{
    margin: 20px 0 0 0;
}
/* ctrl / */
a:hover{
    background:rgba(189, 189, 189, 0.3);
}

a{
    text-decoration: none;
    color:white;
    border-radius:5px;
    padding:20px;
    font-size:100%;
}

header{
    padding:20px;
    margin:0;
}

header .logo a{
    background-image:url(images/Logo.png);
    text-indent: -9999999999px;
    display:inline-block;
    height:70px;
    width:70px;
    background-size:80px;
    background-repeat: no-repeat;
    position:relative;
    top:-25px;
}


.features figure{
    margin:0 auto;
    background:black;
}

.features img{
    object-fit: cover;
    width:inherit;
    
}

.features{
    display:flex;
    flex-wrap: wrap;
    margin:0;
}

figcaption{
    margin-left:10px;
}

h1{
    background:black;
    text-align: center;
    padding:10px 0;
    margin:0;
}

p{
    color:black;
    margin:0;
    line-height: 35px;
}

.ref{
    color:blue;
    margin:0px;
    padding:5px;
}

/* MOBILE featuers */
/*
@media screen and (max-width:600px) {
    body{
        background:black;
    }

    a{
        display:none;
    }
}
*/